<div>
  <label>
    Name: <input [(ngModel)]="contact.name">
  </label>
</div>

<div>
  <label>
    Address: <input [(ngModel)]="contact.address">
  </label>
</div>

<div>
  <label>
    Phone Number: <input [(ngModel)]="contact.phoneNumber">
  </label>
</div>

<div>
  <label>
    Email: <input [(ngModel)]="contact.email">
  </label>
</div>

<div>
  <label>
    Birthday: <input [(ngModel)]="contact.birthday" type="date">
  </label>
</div>

<div>
  <label>
    Meeting Date: <input [(ngModel)]="contact.meetingDate" type="date">
  </label>
</div>

<div>
  <label>
    Relation: <input [(ngModel)]="contact.relation">
  </label>
</div>

<div>
  <label>
    Company: <input [(ngModel)]="contact.company">
  </label>
</div>

<div>
  <label>
    Notes: <input [(ngModel)]="contact.notes">
  </label>
</div>

<button (click)="onCancelClick()">Cancel</button>
<button (click)="onSubmitClick()">Submit</button>

